<header class="header">
    <div class="first">{{>headerDark data=header}}</div>
    {{> divider}}
    <div class="second">{{>frameUnderheader data=header}}</div>
</header>
{{#with hero}}
<div class="hero">
    <div class="heroTitle">{{title}}</div>
    <p class="heroDescription">{{description}}</p>
    {{#with button}}
    <a href="{{url}}" class="heroButton">{{text}}</a>
    {{/with}}
</div>
{{/with}}
{{#with about}}
<div class="about">
    <p class="aboutHeading">{{heading}}</p>
    <p class="aboutInfo">{{info}}</p>
</div>
{{/with}}
{{#with articles}}
<div class="articles">
    <div class="articleHead">
        <p class="articleHeader">Our Articles</p>
        <button class="articleViewall">View All</button>
    </div>
    <div class="listCard">
        {{#each this}}
        {{> artcard data=this}}
        {{/each}}
    </div>
</div>
{{/with}}
{{#with footer}}
<footer class="footerBlock">
    {{>footerDark data=this}}
</footer>
{{/with}}