{{!-- Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}
<header class="header">
    <div class="">
        {{>logo}}
    </div>
    <nav class="header_nav col-9">
        <div class="header_nav_right">
            {{>nav list=header}}
        </div>
    </nav>
</header>

<main class="main">
    {{#with main}}
    <div class="main_content">
        <div>
            <img class="main_image" src="{{image}}" alt="main image">
        </div>
        <div class="">
            <h2 class="main_header">{{heading}}</h2>
            <div class="main_text">
                <p>{{description}}</p>
            </div>
            <a href="{{href}}" class="main_button">{{button}}</a>
        </div>
    </div>
    {{/with}}
</main>

<div class="featured">
    {{#each featured}}
    {{> featuredCard data=this}}
    {{/each}}
</div>
{{> divider}}
<div class="actions">
    {{#each actions}}
    <div class="actions_item">
        <p class="actions_heading">{{heading}}</p>
        <a class="actions_button" href="{{url}}">{{text}}</a>
    </div>
    {{/each}}
</div>

<footer class="footer">
    <div>
        {{>logo}}
        <span class="footer_copyright">Copyright 2023-2024</span>
    </div>
    {{#each footer}}
    <div>
        <span class="footer_title">{{title}}</span>
        {{>nav list=links isVertical=true}}
    </div>
    {{/each}}
</footer>



{{!-- Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    --}}