{{#with data}}
<div class="featured_card">

    <img class="featured_photo" src="{{photo}}" alt="Featured photo">
    <h2 class="featured_card_title">{{heading}}</h2>
    <p class="featured_card_text">{{info}}</p>
    <a href="{{linkUrl}}" class="featured_card_link">{{linkText}}</a>
</div>
{{/with}}